// 清除浮动
.clearFix {
  zoom: 1;

  &::before,
  &::after {
    display: table;
    content: ' ';
  }

  &::after {
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
  }
}

// 使用自定义的滚动条
.customScrollBar {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;

    &.showOnHover {
      display: none;
    }
  }

  &:hover {
    &::-webkit-scrollbar {
      display: inline-block;
    }
  }

  &::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
  }

  &::-webkit-scrollbar-thumb {
    background: #bfbfbf;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #1890ff;
  }

  &::-webkit-scrollbar-corner {
    background: #179a16;
  }
}

// 使用定位的方式绝对居中 使用时父组件 position 的值需为 relative
.center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
