
.Workspace {

  .widgetWrapper {

    height: 713px;
    position: relative;
    overflow: hidden;

    .labelWrapper {
      height: 713px;
      position: absolute;
      left: 0;
    }

    .operates {
      position: absolute;
      right: 0;
      height: 100%;
      overflow: auto;
      padding: 8px 12px;

    }


  }

}
