
.Workspace {

  .widgetWrapper {

    height: 713px;
    overflow: auto;

    .labelWrapper {
      background-color: #1890ff;
      width: 713px;
      height: 713px;
    }

    .standardPhoto {

    }

  }

}
