.StandardPhoto {
  border: 1px solid #f0f0f0;
  padding: 0;
  height: 220px;

  .tabPane {

    position: relative;
    height: 100%;

    img {
      width: 100%;
    }

    .picSelector {

    }
  }

}

.PreViewer {
  border: 1px solid #f0f0f0;
  padding: 0;
  margin-top: 7px;
}
